@import url("https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800");

* {
  box-sizing: border-box;
}
body {
  
  min-height: 100vh;
  display: flex;
  font-weight: 400;
  font-family: "Fira Sans", sans-serif;
}
.category{
  margin-top: -8vh;
  padding-top: 8vh;
  background: #1c8ef9 !important;
}
.subcat{
  margin-top: -8vh;
  padding-top: 8vh;
  background: #1c8ef9 !important;
}
.signup{
  background: #1c8ef9 !important;
}
.home{
  background: #74D2E7 !important;
}
.banner-left-info{
  margin-top:12em;
  
}
.login{
  margin-top: 20px;
  background: #1c8ef9 !important;
}
.products{
  margin-top: -8vh;
  padding-top: 8vh;
  background: #1c8ef9 !important;
}
.product{
  margin-top: 100px;
}
h1,
h2,
h3,
h4,
h5,
h6,
label,
span {
  font-weight: 500;
  font-family: "Fira Sans", sans-serif;
}

body,
html,
.App,
#root,
.auth-wrapper {
  width: 100%;
  height: 100%;
}

.navbar-light {
  background-color: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
}

.auth-wrapper {
  display: flex;
  margin-top: -8vh;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  overflow-y: auto;
  padding-bottom: 20%;
 
}

.auth-inner {
  width: 450px;
  height: 75vh;
  margin: auto;
  background: #ffffff;
  overflow-y: auto;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all 0.3s;
  
}
.auth-inner1 {
  width: 450px;
  height: 65vh;
  margin-top: 8vh;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: auto;
  background: #ffffff;
  overflow: hidden;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all 0.3s;
  
}
.auth-inner2 {
  width: 450px;
  height: 85vh;
  margin-top: 8vh;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: auto;
  background: #ffffff;
  overflow: hidden;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all 0.3s;
  
}
@media only screen and (max-width: 1024px) and (min-width: 525px)  
{
  
  .auth-inner1{
    width: 450px;
    height: 100%;
    overflow: hidden;
  }
  .auth-inner2{
    width: 450px;
    height: 100%;
    overflow: hidden;
  }
 
}
@media only screen and (max-width: 525px) and (min-width: 400px)  
{
  .auth-inner1{
    width: 400px;
    height: 100%;
    overflow: hidden;
  }
  .auth-inner2{
    width: 400px;
    height: 100%;
    overflow: hidden;
  }
}

@media only screen and (max-width: 400px) and (min-width: 320px)  
{
  .auth-inner1{
    width: 280px;
    height: 100%;
    overflow: hidden;
    padding: 40px 30px 40px 30px;
  }
  .auth-inner2{
    width: 280px;
    height: 100%;
    overflow: hidden;
    padding: 40px 30px 40px 30px;
  }
}

@media (max-width: 992px) {

  .custom_nav2 .navbar-nav {
      flex-wrap: wrap;
  }

  .custom_nav2 .nav-item {
      flex-basis: 33.333%;
  }

  .nav_section .custom_nav-container .nav_search-btn {
      margin: auto;
  }

  .about_section .detail-box .heading_container hr {
      height: 75px;
  }

  .about_section .detail-box {
      padding-right: 0;
  }
}

.auth-wrapper .form-control:focus {
  border-color: #167bff;
  box-shadow: none;
}
.custom_nav-container {
  z-index: 99999;
  padding: 15px 0;
}

.custom_nav-container .navbar-toggler {
  outline: none;
}

.custom_nav-container .navbar-toggler .navbar-toggler-icon {
  background-image: url(../public/images/menu.png);
  background-size: 42px;
}

.custom_nav-container .nav_search-btn {
  margin: auto;
}

.auth-wrapper h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}

.custom-control-label {
  font-weight: 400;
}

.forgot-password,
.forgot-password a {
  text-align: right;
  font-size: 13px;
  padding-top: 10px;
  color: #7f7d7d;
  margin: 0;
}

.forgot-password a {
  color: #167bff;
}


.nav_section {
  margin-top: 0px;
  z-index: 5;
 
}

.nav_section .custom_nav2 .custom_nav-container {
  padding: 10px 0;
  background-color: #252525;
  border-radius: 5px;
}

.nav_section .custom_nav2 .custom_nav-container .navbar-nav .nav-item .nav-link {
  padding: 10px 30px;
  color: #ffffff;
  text-align: center;
  position: relative;
}

.nav_section .custom_nav2 #navbarSupportedContent {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav_section .custom_nav-container .nav_search-btn {
  background-image: url(../public/images/search-icon.png);
  background-size: 18px;
  background-repeat: no-repeat;
  width: 35px;
  height: 35px;
  padding: 0;
  border: none;
  margin: 0 40px 0 15px;
  background-position: center;
}

/* for admin slide bar */

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/* side bar end */